:root {
  --font-title: 'Bungee Shade', cursive;
  --font-body: 'Poppins', sans-serif; 
  --font-options: 'Montserrat', sans-serif;
  --breakfast-background: #FF6600;
  --landmark-background: #FFCC00;
  --lunch-background: #009900;
  --museum-background: #0BB4C3;
  --park-background: #0051D4;
  --dinner-background: #660099;
  --rooftop-background: #CC0099;
  
}