@import url("_variables.css");
@import url("_reset.css");

.title {
  font-family: var(--font-title);
  font-size: 2.5em;
  text-align: center;
  padding-top: 1.5em;
}

.sub-title {
  font-family: var(--font-body);
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
}

.result-section {
  display: none;
}

.recommendation-img {
  max-width: 100%;
  max-height: 100%;
}

.close-recommendation {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.option { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 2em;
  font-family: var(--font-options);
  height: 2.5em;
}

.option-button {
  margin: 15px;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
  border: none;
}

.option > h3 {
  margin: 0.7em;
}

button {
  padding: 0 8px;
}

.breakfast {
  background-color: var(--breakfast-background);
}

.landmark {
  background-color: var(--landmark-background);
}

.lunch {
  background-color: var(--lunch-background);
}

.museum {
  background-color: var(--museum-background);
}

.park {
  background-color: var(--park-background);
}

.dinner {
  background-color: var(--dinner-background);
}

.rooftop {
  background-color: var(--rooftop-background);
}

h2 {
  font-family: var(--font-body);
  font-size: 1.6em;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 4em;
  
}

.email, .linkedin {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-right: 1px solid black;
  width: 50%;
  align-items: center;
  text-align: left;
}

.github, .medium {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}

.image {
  max-height: 30px;
  max-width: 30px;
}

.footer {
  height: 3em;
  align-items: center;
  text-align: center;
  padding-top: 2em;
}

